body {
    margin: 0px;
    padding: 0px;
}

.global-header table {
    width: 100%;
}

.global-header {
    font-family: Arial, sans-serif;
    background-color: #273f53;
    width: 100%;
    height: 40px;
    font-size: 10px;
    padding-bottom: 15px;
    color: white;
    text-align: left;

}

.global-header h1{
    padding-left: 50px;
}

.global-header nav ul li {
    display: inline-block;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
}

.global-header nav ul li a{
    display: inline-block;
    color: white;
    border-radius: 5px;
    text-decoration: none; /*https://www.w3schools.com/cssref/pr_text_text-decoration.php*/
    padding: 8px;
}

.global-header nav ul li a:hover {
    background-color: #2e4a60;
    
}

.navigation-bar {
    text-align: right;
    padding-right: 20px;
}

.home-header {
    text-align: center;
    position: relative;
}
.home-header img {
    width: 100%;
    height: 300px;
    object-fit: cover; /*???*/
    object-position: top; /*???*/
}

.home-header .top-title {
    position: relative;
    font-family: Arial, sans-serif;
    font-weight: bold;
    bottom: 250px;
    color: #273f53;
}
.home-header .mid-title {
    position: relative;
    font-family: Arial, sans-serif;
    bottom: 250px;
    font-size: 12px;
    color: #273f53;
}
.home-header .shop-button {
    padding: 12px 20px;
    position: relative;
    font-family: Arial, sans-serif;
    bottom: 200px;
    font-size: 12px;
    color: white;
    background-color: #0097e1;
    border-radius: 5px;
    text-decoration: none; /*https://www.w3schools.com/cssref/pr_text_text-decoration.php*/
}

.home-featured-products {
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 20px;
    bottom: 50px;
    text-align: center;
    margin: 0 auto;
    color: #273f53;

}

.home-displayed-products table{
    margin: 0 auto; 
    border-spacing: 25px;
}

.home-displayed-products th{
    font-family: Arial, sans-serif;
    padding: 20px 30px;
    border: 1px solid rgb(223, 223, 223);
}

.home-thumbnail-product-price{
    color: red;
}

.view-details-button {
    padding: 12px 20px;
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: white;
    background-color: #0097e1;
    border-radius: 5px;
    text-decoration: none; /*https://www.w3schools.com/cssref/pr_text_text-decoration.php*/
}

.home-description{
    background-color: rgb(249, 249, 250);
    padding-bottom: 50px;
}
.home-description table{
    text-align: center;
    font-family: Arial, sans-serif;
}

.home-description h1{
    color: #273f53;
    padding-top: 25px;
    padding-bottom: 50px;

}

.home-description p{
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 25px;
}

.aboutus-header{
    background-color: rgb(249, 249, 250);
    padding-bottom: 50px;
}
.aboutus-header table{
    text-align: center;
    font-family: Arial, sans-serif;
    width: 100%;
    object-fit: cover; /*???*/
    object-position: top; /*???*/
}

.aboutus-header h1{
    color: #273f53;
    padding-top: 25px;
    padding-bottom: 50px;;

}

.aboutus-header p{
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 25px;
}

.aboutus-ourstory{
    text-align: center;
    display:flex;
}
.aboutus-ourstory table{
    font-family: Arial, sans-serif;
    width: 100%;
    object-fit: cover; /*???*/
    object-position: top; /*???*/
    font-family: Arial, sans-serif;
    text-align: justify;
    max-width: 200px;
    padding-bottom: 50px;
    margin-inline: 30px;
    margin: 0 auto;
}

.aboutus-ourstory img{
    display: block;
    margin: 0 auto;
    width: 700px;
    height: 300px;
    background-color:black;
}

.aboutus-ourvalues{
    background-color:rgb(249, 249, 250);
    padding-top: 50px;
    padding-bottom: 50px;
}

.aboutus-ourvalues h1{
    text-align: center;
}

.aboutus-ourvalues p{
    font-size: 16px;
    color: rgb(137, 146, 161);
}

.aboutus-ourvalues table{
    width: 90%;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0 auto; 
    border-spacing: 60px;
    padding-left: 50px;
    padding-right: 50px;
    table-layout: fixed;
}

.aboutus-ourvalues .info-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;        
    background-color: #007BFF; 
    color: white;              
    display: inline-flex;             
    align-items: center;
    vertical-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2); 
}

.aboutus-ourvalues td{
    font-family: Arial, sans-serif;
    border: 1px solid rgb(223, 223, 223);
    padding: 20px;
    background-color: white;
    vertical-align: top;
}

.aboutus-meetourteam{
    text-align: center;
}

.aboutus-meetourteam .meetourteamd-description{
    margin: 0 auto; 
}

.aboutus-meetourteam img{
    width: 140px;
    height: 140px;
    border-radius: 50%;        
    color: white;                          
    align-items: center;
    vertical-align: center;
    justify-content: center;
    padding-top: 30px;
    padding-left: 50px;
    padding-right:50px;
    position: relative;
}

.aboutus-meetourteam table{
    width: 70%;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0 auto; 
    border-spacing: 20px;
    padding-left: 150px;
    padding-right: 150px;
    table-layout: fixed;
}

.aboutus-meetourteam h3{
    color: rgb(137, 146, 161);
    font-size: 15px;
}

.aboutus-meetourteam p{
    font-size: 16px;
}

.aboutus-meetourteam td{
    vertical-align: top;
}

.aboutus-meetourteam th{
    padding: 100;
}

.aboutus-ourjourney{
    background-color:rgb(249, 249, 250);
    padding-top: 50px;
    padding-bottom: 50px;
}

.aboutus-ourjourney-title{
    text-align: center;
}

.aboutus-ourjourney table{
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.aboutus-ourjourney h1{
    font-size: 20px;
}

.aboutus-ourjourney .bulleti{
    color: #007BFF;
    font-size: 60px;
    vertical-align: top;
}

.global-footer{
    font-family: Arial, sans-serif;
    background-color: #273f53;
    width: 100%;
    height: 200px;
    font-size: 15px;
    padding-bottom: 15px;
    color: white;
    text-align: left;
}

.global-footer table{
    margin: 0 auto; 
    padding-top: 30px;
}

.global-footer tr th{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.global-footer tr td{
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}

.global-footer tr td a{
    color: white;
    text-decoration: none; /*https://www.w3schools.com/cssref/pr_text_text-decoration.php*/
}

.global-footer hr{
    text-align: center;
    width: 70%;
}

.global-footer p{
    text-align: center;
}